@model List<OnlineMovieStore.Data.Tables.Movie>
@{
    ViewData["Title"] = "Basket";
}

<h1>Basket</h1>

@if (@Model.Count > 0)
{
    <div class="panel-body">
        <ul class="list-group">
            @{
                decimal totalPrice = 0;
                foreach (var item in Model)
                {
                    totalPrice += item.UsdPrice;

                    <li class="list-group-item list-group-item-secondary" style="margin-bottom:20px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    <img src="~/img/@(item.Id).png" alt="@(item.Title)" style="width:100%;" />
                                </div>
                                <div class="col-9">
                                    <a style="color:black;" asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@(item.Id)">
                                        <span style="font-size:20px;margin-left:15px;"><b>@(item.Title)</b></span>
                                    </a>
                                </div>
                                <div class="col-1">
                                    <span> <b  style="font-size:18px;">@(item.UsdPrice)$</b></span>
                                </div>
                                <div class="col-1">
                                    <a class="trash" asp-area="" asp-controller="Shop" asp-action="RemoveFromBasket" asp-route-id="@(item.Id)"><i class="fas fa-trash-alt fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>

                }

            }
            <li class="list-group-item list-group-item-warning">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <span> <b>Total Price</b></span>
                        </div>
                        <div class="col-2">
                            <span> <b>@(totalPrice)$</b></span>
                        </div>
                        <div class="col-2">
                            <a  class="btn btn-success" asp-area="" asp-controller="Shop" asp-action="BuyAll">Buy All</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
else
{
    <br />
    <span><b>Basket empty :(</b></span>
}

